@model IndyBooks.Models.Book
@{
    //TODO: Modify the AddBook View to use a new AddBookViewModel
    ViewBag.Title = "Lambda Expression Demo";
}
<h3>Bookstore Data Entry</h3>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, "*")
    </div>
    <div class="form-group">
        <!-- TODO: Update the AddBook View to include a Dropdown List for Authors -->
        @Html.LabelFor(m => m.AuthorID)
        @Html.EditorFor(m => m.AuthorID)
        @Html.ValidationMessageFor(m => m.AuthorID, "*")
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Edition)
        @Html.EditorFor(m => m.Edition)
        @Html.ValidationMessageFor(m => m.Edition, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Publication)
        @Html.EditorFor(m => m.Publication)
        @Html.ValidationMessageFor(m => m.Publication, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price, "*")
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
}

